{  
    "bot":{  
        "token":"",
        "prefix":"!",
        "name": "",
        "iconurl": "https://raw.githubusercontent.com/ChainBotMaster/chainbot/master/bot/image/newchc-01.png",
        "debug":false
    },
    "chccore":{  
        "port":,
        "username":"",
        "password":""
    },
    "role":{  
        "chainster":"Chainster",
		"support":"Support"
    },
    "mongodb":{
		"url": "",
		"db": ""
	},
    "Channels":{  
        "mining":"376589052444672001",
        "altcoin":"376583883426365460",
        "support":"376580497129734154",
        "ticketcloselog":"",
		"supportprivate":"",
        "spanish":"380141655539318785",
        "general":"376563578599112705",
        "chaintipster":"384932211956121600",
        "masternode":"376580150290284554",
        "joinchannels":"390895478595911681"
    },
    "id":{  
        "self":"379917668116856833",
        "other":[  
            "324631108731928587",
            "396465506707832844"
        ]
    },
    "coin":{  
        "symbol":"",
        "explorer":""
    }
}
